<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet">
<% layout('layout') %>
      
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
               <div >
                  <a class="logo" href="#">Green Thumbs</a>
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="/about">Climate Change Awareness</a></li>
                     <li><a href="/reviews">Reviews</a></li>
                     <li><a href="/login">Login</a></li>
                     <li><a href="/signup">Sign Up</a></li>
                  </ul>
               </div>
            </nav>
         </header>
        <div class="content">
    </div>
</div>
  