.total-thumb {
  margin-top: 25px;
  font-size: 14px;
}

.button-tings {
  border-radius: 10px;
  background-color: rgb(160, 231, 166);
  color: black;
  border-style: none;
  width: 200px;
  justify-content: center;
  margin-left: 550px;
  margin-top: -70px;
}

.button-tings:hover {
  background-color: rgb(160, 231, 166);
  color: black;
  border-style: none;
  opacity: 75%;
}

.button-tings:active {
  background-color: rgb(160, 231, 166);
  color: black;
  border-style: none;
}

.logout-button {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: -43px;
  margin-bottom: 27px;
  margin-right: 5px;
}

.logout-button:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: -43px;
  margin-bottom: 27px;
}
.logout-button:active {
  text-decoration: none;
  margin-top: -43px;
  margin-bottom: 27px;
}

.tog-menu {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
