<% layout('layout') %>
    <link href="css/about.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <div class="wrapper">
            <div class="navbar">
                <header>
                    <nav>
                        <div class="menu-icon">
                            <i class="fa fa-bars fa-2x"></i>
                        </div>
                        <div >
                            <a class="logo" href="/">Green Thumbs</a>
                        </div>
                        <div class="menu">
                            <ul>
                                <li><a href="/about">Climate Change Awareness</a></li>
                                <li><a href="/reviews">Reviews</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/signup">Sign Up</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        <div class="textWrapper">
            <div class="container">
                <div class="left">
                    <img  class="climateImage" src="images/climatechangeimage.jpeg" alt="">
                </div>
                <div class="text">
                    <span class="subtitle">What is Climate Change?</span>
                        <p class="textbody">Climate change is a long-term change in the average weather patterns that have come to define Earth's local, regional and global climates</p>
                        <span class="subtitle">Evidence:</span>
                        <ul class="textbody">
                            <li>Global Temperature Rise</li>
                            <li>Warming Ocean</li>
                            <li>Shrinking Ice Sheets</li>
                            <li>Glacial Retreat</li>
                            <li>Decreased Snow Cover</li>
                            <li>Sea Level Rise</li>
                            <li>Declining Arctic Sea Ice</li>
                            <li>Extreme Events</li>
                            <li>Ocean Acidification</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
<!-- <!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet">
<% layout('layout') %>
      
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
               <div >
                  <a class="logo" href="#">Green Thumbs</a>
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="/about">About</a></li>
                     <li><a href="/reviews">Reviews</a></li>
                     <li><a href="/login">Login</a></li>
                     <li><a href="/signup">Sign Up</a></li>
                  </ul>
               </div>
            </nav>
         </header>
        <div class="content">
    </div>
</div> -->
  