<% layout('layout') %>
    <link href="css/about.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <div class="wrapper">
            <div class="navbar">
                <header>
                    <a href="#mainContent" class="skipLink">Jump to main content</a>
                    <nav role="navigation">
                        <div class="menu-icon">
                            <i class="fa fa-bars fa-2x"></i>
                        </div>
                        <div >
                            <a class="logo" href="/">Green Thumbs</a>
                        </div>
                        <div class="menu">
                            <ul>
                                <li><a href="/about">Climate Change Awareness</a></li>
                                <li><a href="/reviews">Reviews</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/signup">Sign Up</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        <div class="textWrapper">
            <div class="container" role="main" id="mainContent">
                <div class="left">
                    <img  class="climateImage" src="images/climatechangeimage.jpeg" alt="illustration of climate change" tabindex="0">
                </div>
                <div class="text">
                    <span class="subtitle" tabindex="0">What is Climate Change?</span>
                        <p class="textbody" tabindex="0">Climate change is a long-term change in the average weather patterns that have come to define Earth's local, regional and global climates</p>
                        <span class="subtitle" tabindex="0">Evidence:</span>
                        <ul class="textbody">
                            <li tabindex="0">Global Temperature Rise</li>
                            <li tabindex="0">Warming Ocean</li>
                            <li tabindex="0">Shrinking Ice Sheets</li>
                            <li tabindex="0">Glacial Retreat</li>
                            <li tabindex="0">Decreased Snow Cover</li>
                            <li tabindex="0">Sea Level Rise</li>
                            <li tabindex="0">Declining Arctic Sea Ice</li>
                            <li tabindex="0">Extreme Events</li>
                            <li tabindex="0">Ocean Acidification</li>
                        </ul>
                </div>
                <a class="climate-source" target="_blank" href="https://climate.nasa.gov/resources/global-warming-vs-climate-change/#:~:text=Climate%20change%20is%20a%20long,are%20synonymous%20with%20the%20term.&text=These%20human%2Dproduced%20temperature%20increases,referred%20to%20as%20global%20warming.">
                Climate Change Source</a>
            </div>
        </div>
    </div>
  