<% layout('layout') %>
<link href="css/login.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="container">
    <div class="loginContainer">
        <span class="login">Log In</span>
        <p class="subtitle">Let's get those thumbs green again!</p>
        <a href="/auth/facebook" class="facebookButton"> 
            <i class="fab fa-facebook-square fa-lg"></i> Sign up with Facebook
        </a>
        <!-- <h1><a href="/">Green Thumbs Home</a></h1> -->
        <!-- <a href="/auth/facebook" class="facebook login"><button class="facebookButton">
            <i class="fab fa-facebook-square fa-lg"></i> Log in with Facebook
        </button></a> -->
    </div>
</div>
