<% layout('layout') %>
<link href="css/signup.css" rel="stylesheet">
<div class="container">
    <div class="text-center">
        <h1><a href="/">Green Thumbs Home</a></h1>
    </div> 
   <div class="col-md-offset-4">
         <a href="/auth/facebook" class="facebook login">
            <i class="facebook pic"></i> Sign up with Facebook
        </a>
    </div><br>
   <div class="text-center">
        <h2 class="signup"><span>SIGN UP</span></h2>
   </div><br>
</div>
