<% layout('layout3') %>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a href="/home">Green Thumbs</a>
            </div>
            <ul class="sidebar-nav">
                <img src="http://placehold.it/100x100" class="img-responsive img-circle profile_img" alt="">
                <div class="profile_info">
                    <span>Welcome Back, </span>
                    <h2>
                        <%= user.fullname %>
                    </h2>
                </div>
                <li>
                    <a href="/home">
                        <i class="fa fa-home">Home</i>
                    </a>
                    <a href="/organizations">
                        <i class="fa fa-building-o">Organizations</i>
                    </a>
                    <a href="/search">
                        <i class="fa fa-search">Search Organizations</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right nav_bar">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <!-- <div class="ul_links">
                <ul>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/home">Organization</a>
                    </li>
                    <li>
                        <a href="/home">Register Organization</a>
                    </li>
                </ul>
            </div> -->
            <div class="bodyDiv">
                <% if(noErrors) { %>
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>
                        <%= success %>
                    </div>
                    <% } %>

                        <h3>Organization Registration</h3>
                        <br>
                        <form method="POST" action="/organization/create">
                            <div class="form-group ">
                                <label for="">Organization Name</label>
                                <span id="errorMsg1"></span>
                                <input id="name" class="form-control" name="name" type="text"
                                    style="margin-bottom:20px;">
                            </div>

                            <div class="form-group ">
                                <label for="">Address</label>
                                <span id="errorMsg2"></span>
                                <input id="address" class="form-control" name="address" type="text"
                                    style="margin-bottom:20px;">
                            </div>

                            <div class="form-group ">
                                <label for="">City</label>
                                <span id="errorMsg3"></span>
                                <input id="city" class="form-control" name="city" type="text"
                                    style="margin-bottom:20px;">
                            </div>

                            <div class="form-group ">
                                <label for="">Country</label>
                                <span id="errorMsg4"></span>
                                <input id="country" class="form-control" name="country" type="text"
                                    style="margin-bottom:20px;">
                            </div>

                            <div class="form-group ">
                                <label for="">Sector</label>
                                <span id="errorMsg5"></span>
                                <input id="sector" class="form-control" name="sector" type="text"
                                    style="margin-bottom:20px;">
                            </div>

                            <div class="form-group ">
                                <label for="">Website</label>
                                <span id="errorMsg6"></span>
                                <input id="website" class="form-control" name="website" type="text"
                                    style="margin-bottom:20px;">
                            </div>

                            <div class="form-group ">
                                <label for="">Organization Image</label><br>
                                <span id="errorMsg7"></span>
                                <button class="btn btn-default" type="button" data-toggle="modal"
                                    data-target="#file">Add
                                    File</button>
                                <span id="completed"></span>

                                <div id="file" class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" id="close" class="close"
                                                    data-dismiss="modal">&times;</button>
                                                <div class="modal-title">Upload Image</div>
                                            </div>

                                            <div class="modal-body">
                                                <div class="row">
                                                    <span style="margin-left: 2rem; font-weight:lighter">Progress</span>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar"></div>
                                                    </div>

                                                    <button class="btn btn-default upload-btn" type="button"
                                                        style="margin-left: 1.5rem;">Upload File</button>
                                                    <input type="file" class="form-control" name="upload"
                                                        id="upload-input" style="display: none;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="register" value="Register" class="form-control btn btn-primary"
                                    name="register">
                            </div>
                        </form>
            </div>
        </div>
    </div>